html, body, main {
  height: 100%; }

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px; }
  header h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  header .search input {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #aaa;
    outline: none; }
  header .new {
    border: 1px solid #aaa;
    border-radius: 50%;
    padding: 8px 11px;
    margin: 10px; }

#calendar {
  width: 90%;
  height: 90%;
  margin: 0 auto; }
  #calendar table {
    width: 100%;
    height: 100%;
    text-align: center; }
  #calendar tr td {
    width: 14%;
    border: none; }
    #calendar tr td.month-day {
      border: 1px solid #aaa; }
